node_modules/
.expo/
dist/
*.log
.env.local
.DS_Store
build/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
*.xcworkspace
*.xcodeproj
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
*.swp
*.swo
.idea/
*.iml
.vscode/
